<h3>Hola <%= @user.name %>!</h3>

<h4>Cambio en el inventario - Reporte - <%= Date.today %></h4>

<div class="panel-body">
    <div class="row">
      <table class="table sortable table-hover">
        <thead>
        <th><center>Color</center></th>
        <th><center>Material</center></th>
        <th><center>Marca</center></th>
        <th><center>Espesor</center></th>
        <th><center>Altas</center></th>
        <th ><center>Bajas</center></th>
        </thead>


    <% @stocks.each do |stock| %>
      <tbody>
    <tr>
    <td><%= stock.item.nombre %></td>
    <td><center><%= stock.item.material %></center></td>
    <td><center><%= stock.item.marca %></center></td>
    <td><center><%= stock.item.espesor %> mm</center></td>
    <% if stock.altas.nil? %>
      <td><center>0</center></td>
    <%else%>
    <td><center><%= stock.altas %></center></td>
    <%end%>
    <% if stock.bajas.nil? %>
      <td><center>0</center></td>
    <%else%>
    <td><center><%= stock.bajas %></center></td>
    <%end%>
  <% end %>


</tr>

</table>
