
<div class="form-horizontal">
<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h3>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, class: "col-sm-3 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :nombre, class: "form-control" %>
    </div>
  </div>

 <div class="form-group">
    <%= f.label :material, class: "col-sm-3 control-label" %>
    <div class="col-sm-5">
      <%= f.select(:material, options_for_select([['', ''],['MDF', 'MDF'], ['Aglo', 'Aglo'],['Chapadur','Chapadur'],['Multilaminado','Multilaminado'],['Terciado','Terciado']].sort_by {|k,v| v}), {}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
     <%= f.label :marca, class: "col-sm-3 control-label" %>
     <div class="col-sm-5">
       <%= f.select(:marca, options_for_select([['', ''],['Faplac', 'Faplac'], ['Massisa', 'Massisa'],['Enchapado','Enchapado'],['Guillermina','Guillermina'],['Terciado','Terciado'],['Fiplasto','Fiplasto'],['Trupan','Trupan']].sort_by {|k,v| v}), {}, {class: "form-control"}) %>
     </div>
   </div>

  <div class="form-group">
    <%= f.label :espesor, class: "col-sm-3 control-label" %>
    <div class="col-sm-5">
      <%= f.select(:espesor, options_for_select([['', ''],['3mm', '3mm'],['5,5mm', '5,5mm'],['9mm','9mm'],['12mm','12mm'],['15mm','15mm'],['18mm','18mm'],['22mm','22mm'],['25mm','25mm'],['30mm','30mm']].sort_by {|k,v| v}), {}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :cantidad, class: "col-sm-3 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :quantity, class: "form-control" %>
    </div>
  </div>



</div>


  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-5">
      <%= f.submit "Guardar", class: "btn btn-primary" %>
      <%= link_to 'Cancelar', items_path, :class => "btn btn-danger" %>
    </div>
  </div>

<% end %>
</div>
