
<div class="form-horizontal">
<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h3>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, class: "col-sm-3 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :nombre, class: "form-control" %>
    </div>
  </div>

 <div class="form-group">
    <%= f.label :material, class: "col-sm-3 control-label" %>
    <div class="col-sm-5">
      <%= f.select(:material, options_for_select([['MDF', 'MDF'], ['Aglo', 'Aglo'],['Corlok', 'Corlok'],['Chapadur','Chapadur'],['Multilaminado','Multilaminado'],['Terciado','Terciado']]), {}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :espesor, class: "col-sm-3 control-label" %>
    <div class="col-sm-5">
      <%= f.select(:espesor, options_for_select([['3mm', '3mm'], ['4mm', '4mm'],['5,5mm', '5,5mm'],['9mm','9mm'],['12mm','12mm'],['15mm','15mm'],['18mm','18mm'],['22mm','22mm'],['25mm','25mm']]), {}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :quantity, class: "col-sm-3 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :quantity, class: "form-control" %>
    </div>
  </div>



</div>


  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-5">
      <%= f.submit "Create Item", class: "btn btn-primary" %>
      <%= link_to 'Cancel', items_path, :class => "btn btn-danger" %>
    </div>
  </div>

<% end %>
</div>
