<div class="panel-body">
    <div class="row">
      <table class="table sortable table-hover">
        <thead>
        <th><center>Color</center></th>
        <th><center>Material</center></th>
        <th><center>Marca</center></th>
        <th><center>Espesor</center></th>
        <th><center>Cantidad</center></th>
        <% if current_user.role != "user" %>
        <th class="sorttable_nosort"><center>Editar/Borrar</center></th>
        <%else%>
        <th></th>
        <%end%>
        </thead>

        <% @filtered_items.each do |item| %>
        <tr>
          <td><%= item.nombre %></td>
          <td><center><%= item.material %></center></td>
          <td><center><%= item.marca %></center></td>
          <td><center><%= item.espesor %> mm</center></td>
          <td><center><%= item.quantity %></center></td>
          <% if current_user.role != "user" %>
          <td><center><%= link_to '', edit_item_path(item), :class=>"fa fa-edit" %> |  <%= link_to content_tag(:i,nil, :class=>"fa fa-trash-o"), item, data: {confirm: 'Are you sure you want to delete this item?'}, method: :delete %></center>
          <%else%>
          <td></td>
          <% end %>
          </td>
        </tr>
        <% end %>

        <tfoot>
          <tr>
            <td><b>Total</b></td>
            <td></td>
            <td></td>

            <td><center><%= @items.map{|item| item.quantity}.reduce(0, :+,) %></center></td>
                       <td></td>

            <% if current_user.role != "user" %>
            <td></td>
            <% end %>
            </tr>
        </tfoot>

      </table>
    </div>

    <!-- <center>
      <div class="pagination">
        <div class="page_info">
          <%= page_entries_info @items %>
        </div>
        <%= will_paginate @items, renderer: BootstrapPagination::Rails %>
      </div>
    </center> -->

  </div>
