
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @item.nombre %></h3>
  </div>

  <div class="panel-body">

    <div class="container">


      <div class="row">
        <div class="col-md-2"><b>Color</b></div>
        <div class="col-md-4"><%= @item.nombre %></div>
      </div>

      <div class="row">
        <div class="col-md-2"><b>Material</b></div>
        <div class="col-md-4"><%= @item.material %></div>
      </div>

      <div class="row">
        <div class="col-md-2"><b>Espesor</b></div>
        <div class="col-md-4"><%= @item.espesor %></div>
      </div>

      <div class="row">
        <div class="col-md-2"><b>Quantity</b></div>
        <div class="col-md-4"><%= @item.quantity %></div>
      </div>

        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <%= link_to 'Edit', edit_item_path(@item), :class => "btn btn-primary" %>
            <%= link_to 'Delete', @item, confirm: 'Are you sure?', method: :delete, :class => "btn btn-warning" %>
            <%= link_to 'Cancel', items_path, :class => "btn btn-danger" %>
          </div>
        </div>

    </div>


</div>
